@import '../../../../../../constants/styles/variables.scss';

.container {
  padding: $spacing-md 0 0;
}

.formWrapper {
  margin: $spacing-lg 0 0;
}

.textFieldWrapper {
  margin: $spacing-xs 0;
}

.buttonWrapper {
  margin: $spacing-xs 0;
}
