@import '../../../../constants/styles/variables.scss';

.formWrapper {
  margin: $spacing-lg 0 0;
}

.textFieldWrapper {
  margin: $spacing-xs 0;
  display: flex;
  gap: 16px;
}

.buttonWrapper {
  margin: $spacing-xs 0;
}

.errorMessage {
  color: $danger;
  font-size: $font-size-sm;
}
